/* GLOBAL STYLES */

:root {
	--background: hsl(0, 0%, 7.5%);
	--text: hsl(0, 0%, 90%);
	--text-inactive: hsl(0, 0%, 45%);
	--text-hovered: hsl(50, 80%, 60%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Pixelade';
	font-size: 1.75rem;
	font-weight: 400;

	background-color: var(--background);
	color: var(--text);

	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	font: inherit;
	color: inherit;

	background-color: transparent;

	/* border: 1px solid var(--text); */
	border: none;
	cursor: pointer;
}
