@font-face {
	font-family: 'Jacquard 24';
	src: url('/assets/fonts/Jacquard24-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pixelify Sans';
	src: url('/assets/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: 'C&C Red Alert';
	src: url('/assets/fonts/C&C-Red-Alert.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'macs Minecraft';
	src: url('/assets/fonts/macs Minecraft.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pixelade';
	src: url('/assets/fonts/Pixelade.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
